footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #040021;
  padding: 10px;
  margin: 10px 0 0 0;
}
.brand-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.brand-div img {
  height: 50px;
  width: 50px;
  margin: -13px 3px 0 0;
  border-radius: 50%;
}
.brand-div p {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
.footer-list {
  list-style-type: none;
  text-align: center;
}
.footer-list a,
.footer-list a:active {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  color: rebeccapurple;
  padding: 5px;
}
.footer-list:last-child li,
.footer-list.footer-list:last-child li a {
  color: white;
  font-size: 16px;
}
.vertical-rule {
  font-weight: 700;
  font-size: 18px;
  color: rebeccapurple;
}
