footer {
  justify-content: center;
  background-color: #040021;
  padding: 10px;
}
.brand-div img {
  height: 50px;
  width: 50px;
  margin: -13px 3px 0 0;
}
.brand-div p {
  font-size: 1em;
  font-weight: 700;
}
.footer-list a,
.footer-list a:active {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  color: rebeccapurple;
  padding: 5px;
}
.footer-list:last-child li,
.footer-list:last-child li a {
  color: white;
  font-size: 16px;
}
.vertical-rule {
  font-weight: 700;
  font-size: 18px;
  color: rebeccapurple;
}
