.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/src/Components/Assets/Images/drimsBatch.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1 0 auto;
}
.main > h1:first-child {
  margin: 12px 0 0 0;
  padding: 0 0 10px 12px;
}
.main h2 {
  margin: 0 0 10px 5px;
  display: inline-block;
  padding: 2px 6px 2px 0;
  border-bottom: 2px solid green;
}
.albums-list {
  list-style-position: inside;
  margin: 0 0 25px -5px;
  font-size: 19px;
}
.albums-list li a,
.albums-list li {
  padding: 6px;
  cursor: pointer;
}

.gallery {
  margin-bottom: 80px;
}
.image-container {
  display: none;
  width: 90vw;
  height: 350px;
  cursor: pointer;
}
.image-description {
  padding: 15px;
  margin: -5px 0 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 20px;
  border-bottom: 7px solid #378fe4;
}
.image-index {
  font-size: 16px;
  font-weight: 700;
  padding: 4px;
  top: 7px;
  left: 7px;
}
.next,
.previous {
  font-size: 35px;
  bottom: 35%;
}
.next:hover,
.previous:hover {
  background-color: rgba(0, 0, 0, 0.49) !important;
}
.previous {
  padding: 0 4px 0 0;
  left: 2%;
}
.next {
  padding: 0 0 0 4px;
  right: 2%;
}
/*===Lightbox===*/

.lightbox {
  justify-content: center;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  background-color: rgba(0, 0, 0, 0.8);
}
.lightbox:target {
  opacity: 1 !important;
  z-index: 1000 !important;
}
.close {
  font-size: 20px;
  padding: 10px;
  right: 10px;
  top: 10px;
}

@media only screen and (min-width: 480px) {
  .image-container {
    width: 47vw;
  }
  .gallery {
    margin: 0 0 80px 8px;
  }
  .gallery-div {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1200px) {
  .image-container {
    width: 30vw;
  }
}
