* {
  word-spacing: 3px;
}

.intro-paragraph {
  padding: 0 10px;
  font-weight: 500;
}

/*All the general styles for all the sections*/
section {
  padding: 0 10px;
  font-weight: 500;
}
section h2,
section h4 {
  text-align: center;
  margin: 6px 0;
}

section ul {
  list-style-position: inside;
  list-style-type: disc;
  margin: 0 0 6px 50px;
}
section dl,
dl dd {
  margin: 0 0 0 50px;
}

table,
td,
thead th {
  text-align: center;
  border: 1px solid black !important;
  border-collapse: collapse;
  padding: 10px;
}
.general-fees-table thead tr {
  font-size: 1.1em;
  font-weight: 700;
}
.fees-structure-section div {
  overflow-x: scroll;
  padding: 1px;
}

/*New Students Reqired fees table*/
.newStudentsRequiredFees {
  table-layout: fixed;
  width: 100%;
}
.newStudentsRequiredFees td {
  width: 33.3%;
}
.newStudentsRequiredFees thead th {
  font-size: 1.1em;
  font-weight: 700;
}

@media only screen and (min-width: 480px) {
  p {
    text-align: center;
    margin: 0 20px;
  }
}
