.school-name > img {
  height: 50px;
  width: 50px;
  margin: 0 10px 0 0;
}
.school-name p {
  font-weight: 700;
  font-size: 20px;
}
.navigation-bar {
  justify-content: space-between;
}
.navigation-bar a {
  font-weight: 700;
  font-size: 1.1em;
  padding: 10px;
}
.activeLink {
  background-color: #a3391c;
  color: #fff !important;
}
